asgiref==3.8.1
attrs==23.2.0
black==24.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.6
defusedxml==0.7.1
dj-crontab==0.8.0
dj-rest-auth==6.0.0
Django==5.0.4
django-allauth==0.61.1
django-cleanup==8.1.0
django-cors-headers==4.3.1
django-filter==24.2
django-phonenumber-field==7.3.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
idna==3.7
inflection==0.5.1
isort==5.13.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
mailchecker==6.0.3
Markdown==3.6
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.0
pathspec==0.12.1
phonenumbers==8.13.34
pillow==10.3.0
platformdirs==4.2.0
pycparser==2.22
PyJWT==2.8.0
pyotp==2.9.0
python-dotenv==1.0.1
python3-openid==3.2.0
PyYAML==6.0.1
referencing==0.34.0
requests==2.32.0
requests-oauthlib==2.0.0
rpds-py==0.18.0
sqlparse==0.5.0
uritemplate==4.1.1
urllib3==2.2.1
whitenoise==6.6.0
