<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Static Template</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/e8641abf26.js" crossorigin="anonymous"></script>
</head>

<body style="
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    ">
<div style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        background: #e3eafa;
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
        ">
    <header>
        <table style="width: 100%;">
            <tbody>
            <tr style="height: 0;">
                <td>
                    <img alt="" src="https://potentialai.com/static/potential/img/logo.png" height="30px"/>
                </td>
                <td style="text-align: right;">
                    <span style="font-size: 16px; line-height: 30px; color: #5d48e0;">{{ date }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </header>

    <main>
        <div style="
            margin: 0;
            margin-top: 70px;
            padding: 92px 30px 115px;
            background: #ffffff;
            border-radius: 30px;
            text-align: center;
          ">
            <div style="width: 100%; max-width: 489px; margin: 0 auto;">
                <h1 style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              ">
                    Your OTP
                </h1>
                <p style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              ">
                    Hey {{ name }},
                </p>
                <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              ">
                    Thank you for choosing {{ company }}. Use the following OTP
                    to complete the {{ procedure }}. OTP is
                    valid for
                    <span style="font-weight: 600; color: #1f1f1f;">{{ valid_time }}</span>.
                    Do not share this code with others, including {{ company }}
                    employees.
                </p>
                <p style="
                margin: 0;
                margin-top: 60px;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 25px;
                color: #ba3d4f;
              ">{{ otp_code }}
                </p>
            </div>
        </div>

        <p style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 90px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          ">
            Need help? Ask at
            <a href="mailto:{{ support_email }}" style="color: #499fb6; text-decoration: none;">{{ support_email }}
            </a>
            or visit our
            <a href="" target="_blank" style="color: #499fb6; text-decoration: none;">Help Center</a>
        </p>
    </main>

    <footer style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        ">
        <p style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #434343;
          ">
            {{ company }}
        </p>
        <p style="margin: 0; margin-top: 8px; color: #434343;">
            {{ address }}
        </p>

        <div class="text-center py-[20px]">

            <p class="copyright font-OpenSans text-white 2xl:text-[20px] lg:text-[16px] font-normal">
                <a href="https://www.facebook.com/profile.php?id=100083603192499" target="_blank">
                    <i style="font-size:30pt; margin-right:30px; color:#4267B2" class="fa-brands fa-square-facebook"
                       aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/potentialai_official" target="_blank">
                    <i style="font-size:30pt; margin-right:30px; color:#C13584" class="fa-brands fa-instagram"
                       aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/company/potential-inc-korea/" target="_blank">
                    <i style="font-size:30pt; margin-right:30px; color:#1a60b6" class="fas fa-brands fa-linkedin"
                       aria-hidden="true"></i>
                </a>
                <a href="https://dribbble.com/Potential_Inc" target="_blank">
                    <i style="font-size:30pt; margin-right:30px; color:#EA4C89" class="fas fa-solid fa-basketball"
                       aria-hidden="true"></i>
                </a>
                <a href="https://www.behance.net/potentipotenti" target="_blank">
                    <i style="font-size:30pt; margin-right:30px; color:#486aad"
                       class="fas fa-brands fa-square-behance" aria-hidden="true"></i>
                </a>

            </p>
        </div>
        <p style="margin: 0; margin-top: 16px; color: #434343;">
            Copyright © 2024 {{ Company }}. All rights reserved.
        </p>
    </footer>
</div>
</body>

</html>